In [1]:
import os
from os import chdir
from glob import glob
import pandas as pd
import csv 
import numpy as np

----
### Import CSV files

In [2]:
citi_bike_dec23 = pd.read_csv('/Users/jelenaraonic/UofTBootcamp/Homework/Citi_bike/Citi_bike/Resources/JC-202312-citibike-tripdata 3.csv')
citi_bike_jun24 = pd.read_csv('/Users/jelenaraonic/UofTBootcamp/Homework/Citi_bike/Citi_bike/Resources/JC-202406-citibike-tripdata 3.csv')

----
### Explore data

#### December 2023

In [3]:
citi_bike_dec23.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,DAE3C13A5FAAB089,classic_bike,2023-12-29 16:02,2023-12-29 16:10,Brunswick St,JC023,Communipaw & Berry Lane,JC084,40.724016,-74.050550,40.714358,-74.066611,member
1,1EC6BE46ACF2DE11,classic_bike,2023-12-06 1:58,2023-12-06 2:04,Brunswick St,JC023,Oakland Ave,JC022,40.724135,-74.050686,40.737604,-74.052478,casual
2,105CA439B9CBF57C,classic_bike,2023-12-06 20:15,2023-12-06 20:21,Brunswick St,JC023,Oakland Ave,JC022,40.723990,-74.050639,40.737604,-74.052478,member
3,DC1C46F6090FA1DB,classic_bike,2023-12-09 13:54,2023-12-09 13:56,Brunswick St,JC023,Manila & 1st,JC082,40.723983,-74.050732,40.721651,-74.042884,casual
4,04EAEAAD6D32A664,classic_bike,2023-12-02 17:30,2023-12-02 17:37,Brunswick St,JC023,Riverview Park,JC057,40.724011,-74.050686,40.744319,-74.043991,member

In [4]:
citi_bike_dec23.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58680 entries, 0 to 58679
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             58680 non-null  object
 1   rideable_type       58680 non-null  object
 2   started_at          58680 non-null  object
 3   ended_at            58680 non-null  object
 4   start_station_name  58676 non-null  object
 5   start_station_id    58676 non-null  object
 6   end_station_name    58441 non-null  object
 7   end_station_id      58441 non-null  object
 8   start_lat           58680 non-null  float64
 9   start_lng           58680 non-null  float64
 10  end_lat             58638 non-null  float64
 11  end_lng             58638 non-null  float64
 12  member_casual       58680 non-null  object
dtypes: float64(4), object(9)
memory usage: 5.8+ MB

In [5]:
citi_bike_dec23.shape

(58680, 13)

#### June 2024

In [6]:
citi_bike_jun24.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,F9FB3CE11ED23849,electric_bike,14:05.6,23:22.7,Oakland Ave,JC022,Hamilton Park,JC009,40.737583,-74.052306,40.727596,-74.044247,member
1,A2E8CFCCD4895D09,electric_bike,40:09.3,00:58.5,Oakland Ave,JC022,Washington St,JC098,40.737555,-74.052441,40.724294,-74.035483,casual
2,10CE457D6A694BA5,classic_bike,11:40.0,23:22.8,Oakland Ave,JC022,Hoboken Terminal - Hudson St & Hudson Pl,HB101,40.737604,-74.052478,40.735938,-74.030305,casual
3,CC23E216CED642D8,electric_bike,45:05.9,54:39.2,Oakland Ave,JC022,Hoboken Terminal - Hudson St & Hudson Pl,HB101,40.737493,-74.052295,40.735938,-74.030305,member
4,890DB2D549468FB0,electric_bike,01:29.8,12:10.9,Oakland Ave,JC022,Oakland Ave,JC022,40.737599,-74.052386,40.737604,-74.052478,member

In [7]:
citi_bike_jun24.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113669 entries, 0 to 113668
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             113669 non-null  object
 1   rideable_type       113669 non-null  object
 2   started_at          113669 non-null  object
 3   ended_at            113669 non-null  object
 4   start_station_name  113668 non-null  object
 5   start_station_id    113668 non-null  object
 6   end_station_name    113243 non-null  object
 7   end_station_id      113222 non-null  object
 8   start_lat           113669 non-null  float64
 9   start_lng           113669 non-null  float64
 10  end_lat             113614 non-null  float64
 11  end_lng             113614 non-null  float64
 12  member_casual       113669 non-null  object
dtypes: float64(4), object(9)
memory usage: 11.3+ MB

In [8]:
citi_bike_jun24.shape

(113669, 13)

In [9]:
citi_bike_new = [citi_bike_dec23, citi_bike_jun24]

In [10]:
citi_bike_merged = pd.concat(citi_bike_new, axis=0)

citi_bike_merged

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,DAE3C13A5FAAB089,classic_bike,2023-12-29 16:02,2023-12-29 16:10,Brunswick St,JC023,Communipaw & Berry Lane,JC084,40.724016,-74.050550,40.714358,-74.066611,member
1,1EC6BE46ACF2DE11,classic_bike,2023-12-06 1:58,2023-12-06 2:04,Brunswick St,JC023,Oakland Ave,JC022,40.724135,-74.050686,40.737604,-74.052478,casual
2,105CA439B9CBF57C,classic_bike,2023-12-06 20:15,2023-12-06 20:21,Brunswick St,JC023,Oakland Ave,JC022,40.723990,-74.050639,40.737604,-74.052478,member
3,DC1C46F6090FA1DB,classic_bike,2023-12-09 13:54,2023-12-09 13:56,Brunswick St,JC023,Manila & 1st,JC082,40.723983,-74.050732,40.721651,-74.042884,casual
4,04EAEAAD6D32A664,classic_bike,2023-12-02 17:30,2023-12-02 17:37,Brunswick St,JC023,Riverview Park,JC057,40.724011,-74.050686,40.744319,-74.043991,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
113664,70D861C060E6381F,electric_bike,23:31.6,26:45.5,City Hall - Washington St & 1 St,HB105,Marshall St & 2 St,HB408,40.737158,-74.030991,40.740802,-74.042521,member
113665,24141427A307DC1A,electric_bike,11:38.2,24:33.7,Exchange Pl,JC116,Christ Hospital,JC034,40.716408,-74.034540,40.734786,-74.050444,member
113666,492F44B91FBEBF95,electric_bike,12:02.9,31:54.6,Exchange Pl,JC116,Christ Hospital,JC034,40.716354,-74.034380,40.734786,-74.050444,member
113667,3E1E700CD48618A1,classic_bike,07:33.5,19:35.5,Riverview Park,JC057,Christ Hospital,JC034,40.744319,-74.043991,40.734786,-74.050444,member
113668,12AF17E96681D37C,electric_bike,44:53.3,52:48.7,Manila & 1st,JC082,Christ Hospital,JC034,40.721727,-74.042948,40.734786,-74.050444,member

In [11]:
citi_bike_merged.isnull().sum()

ride_id                 0
rideable_type           0
started_at              0
ended_at                0
start_station_name      5
start_station_id        5
end_station_name      665
end_station_id        686
start_lat               0
start_lng               0
end_lat                97
end_lng                97
member_casual           0
dtype: int64

In [12]:
citi_bike_merged.dropna(how='all',subset=['start_station_name', 'start_station_id'], inplace=True)

In [13]:
citi_bike_merged.dropna(how='all',subset=['end_station_name','end_station_id'], inplace=True)

In [14]:
citi_bike_merged.dropna(how='all',subset=['end_lng', 'end_lat'], inplace=True)

In [16]:
citi_bike_merged.isnull().sum()

ride_id                0
rideable_type          0
started_at             0
ended_at               0
start_station_name     0
start_station_id       0
end_station_name       0
end_station_id        21
start_lat              0
start_lng              0
end_lat                0
end_lng                0
member_casual          0
dtype: int64

In [17]:
citi_bike_merged = citi_bike_merged.dropna(how='any')

In [18]:
citi_bike_merged.isnull().sum()

ride_id               0
rideable_type         0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
member_casual         0
dtype: int64

In [19]:
citi_bike_merged.count()

ride_id               171659
rideable_type         171659
started_at            171659
ended_at              171659
start_station_name    171659
start_station_id      171659
end_station_name      171659
end_station_id        171659
start_lat             171659
start_lng             171659
end_lat               171659
end_lng               171659
member_casual         171659
dtype: int64

In [20]:
citi_bike_merged['started_at'] = pd.to_datetime(
    citi_bike_merged['started_at'],
    errors='coerce',
    infer_datetime_format=True
)

/var/folders/bb/58xtq6zd03z6j840hj_gdn9h0000gn/T/ipykernel_28717/2861803093.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  citi_bike_merged['started_at'] = pd.to_datetime(
/var/folders/bb/58xtq6zd03z6j840hj_gdn9h0000gn/T/ipykernel_28717/2861803093.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  citi_bike_merged['started_at'] = pd.to_datetime(

In [21]:
citi_bike_merged['ended_at'] = pd.to_datetime(
    citi_bike_merged['ended_at'],
    errors='coerce',
    infer_datetime_format=True
)

/var/folders/bb/58xtq6zd03z6j840hj_gdn9h0000gn/T/ipykernel_28717/1603064135.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  citi_bike_merged['ended_at'] = pd.to_datetime(
/var/folders/bb/58xtq6zd03z6j840hj_gdn9h0000gn/T/ipykernel_28717/1603064135.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  citi_bike_merged['ended_at'] = pd.to_datetime(

In [22]:
citi_bike_merged.info()

<class 'pandas.core.frame.DataFrame'>
Index: 171659 entries, 0 to 113668
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             171659 non-null  object
 1   rideable_type       171659 non-null  object
 2   started_at          58438 non-null   datetime64[ns]
 3   ended_at            58438 non-null   datetime64[ns]
 4   start_station_name  171659 non-null  object
 5   start_station_id    171659 non-null  object
 6   end_station_name    171659 non-null  object
 7   end_station_id      171659 non-null  object
 8   start_lat           171659 non-null  float64
 9   start_lng           171659 non-null  float64
 10  end_lat             171659 non-null  float64
 11  end_lng             171659 non-null  float64
 12  member_casual       171659 non-null  object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 18.3+ MB

In [23]:
citi_bike_merged.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,DAE3C13A5FAAB089,classic_bike,2023-12-29 16:02:00,2023-12-29 16:10:00,Brunswick St,JC023,Communipaw & Berry Lane,JC084,40.724016,-74.050550,40.714358,-74.066611,member
1,1EC6BE46ACF2DE11,classic_bike,2023-12-06 01:58:00,2023-12-06 02:04:00,Brunswick St,JC023,Oakland Ave,JC022,40.724135,-74.050686,40.737604,-74.052478,casual
2,105CA439B9CBF57C,classic_bike,2023-12-06 20:15:00,2023-12-06 20:21:00,Brunswick St,JC023,Oakland Ave,JC022,40.723990,-74.050639,40.737604,-74.052478,member
3,DC1C46F6090FA1DB,classic_bike,2023-12-09 13:54:00,2023-12-09 13:56:00,Brunswick St,JC023,Manila & 1st,JC082,40.723983,-74.050732,40.721651,-74.042884,casual
4,04EAEAAD6D32A664,classic_bike,2023-12-02 17:30:00,2023-12-02 17:37:00,Brunswick St,JC023,Riverview Park,JC057,40.724011,-74.050686,40.744319,-74.043991,member

In [16]:
citi_bike_clean = citi_bike_merged

In [17]:
citi_bike_clean.to_csv('citi_bike.csv', index=False)